aubit4glsrc/tags/Aubit4gl-1_2-15/lib/libpacker/xml_best/default.dtd


<!ELEMENT str EMPTY>
<!ATTLIST str nm CDATA #IMPLIED>
<!ATTLIST str value CDATA #IMPLIED>

<!ELEMENT funcname EMPTY>
<!ATTLIST funcname nm CDATA #IMPLIED>
<!ATTLIST funcname value CDATA #IMPLIED>

<!ELEMENT short EMPTY>
<!ATTLIST short nm CDATA #IMPLIED>
<!ATTLIST short value CDATA #IMPLIED>

<!ELEMENT long EMPTY>
<!ATTLIST long nm CDATA #IMPLIED>
<!ATTLIST long value CDATA #IMPLIED>

<!ELEMENT int EMPTY>
<!ATTLIST int nm CDATA #IMPLIED>
<!ATTLIST int value CDATA #IMPLIED>

